.input-custom {
  border: none;
  border-bottom: 2px solid #c1c1c1;
  box-shadow: none;
  border-radius: 0;
  background: transparent;
  font-family: "Kanit";
}

.input-custom:active,
.input-custom:focus {
  box-shadow: none;
}

::placeholder {
  font-style: italic;
}

